@import '../variables';

body {
  background-image: url('../../images/background_small.png');
  background-size: 300px;
}
//slideshow - Begin
.slide-show {
  position: relative;
  margin-top: 45px;
  left: 0;
  width: 100%;
  height: 50vh;
   .slide {
     position: absolute;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     overflow: hidden;
     transition: .9s opacity;
      .slideImgPlaceHolder {
        width: 100%;
        height: 100%;
        background-size: 100% 100%;
        background-attachment: fixed;
        background-repeat: no-repeat;
        animation-play-state: paused;
        transition: 1s transform;
        transform:scale(1.01);
      }
      @keyframes zoom {
        0% {transform:scale(1.01);}
        50% {transform:scale(1.12);}
        100% {transform:scale(1.01);}
      }
   }

   .dot-container {
     position: absolute;
     bottom: 50px;
     left: 50%;
     transform:translate(-50%);
     cursor: default;
     z-index: 8;
      i {
        cursor: pointer;
        display: inline-block;
        margin: 0 10px;
         &:hover {
           opacity: .98;
         }
      }
   }
   .arrow-container {
     position: absolute;
     bottom: 0px;
     left: 50%;
     transform:translate(-50%);
     font-size: 40px;
     z-index: 8;
     a {
       color: #fff;
     }
     i {
       color: #fff;
       cursor: pointer;
       visibility: hidden;
     }
   }
}

@media only screen and (max-width:921px) {
  .slide-show .slide .slideImgPlaceHolder {
    background-attachment: scroll;
  }
  .slide-show {
      height: 100vh;
  }
}
@media only screen and (max-width:630px) {
  .slide-show .slide .slideImgPlaceHolder {
    background-size: 200% 100%;
    background-position: center;
  }
}
@media only screen and (max-width:426px) {
  .slide-show .slide .slideImgPlaceHolder {
    background-size: 240% 100%;
    background-position: center;
  }
}
@media only screen and (max-width:416px) {
  .slide-show {
    // top: 60px;
    margin-top: 0;
  }
  header .header-hack {
    display: none;
  }
}
//slideshow - End


//events - Begin
.events {
  width: 100%;
  height: 100%;
  background: #040404;
  padding: 5px;
  position: relative;
   .search-div {
     float: left;
     div {
       position: relative;
       margin:15px 20px;
       height: 31px;
        input {
          height: 100%;
          border: 3px solid #fff;
          border-radius: 4px;
          width: 200px;
          padding-left: 8px;
        }
      }
      div:first-of-type{
        float: left;
      }

      div:nth-of-type(2) {
        margin:15px 2px;
        position: relative;
        float: left;
          input[type="date"] {
            height: 100%;
            width: 150px;
            float: left;
          }
          &::after {
            display: block;
            content: '';
            clear: left;
          }
      }
   }
   .events-view {
     float: right;
     margin:15px 20px;
      * {
        display: inline-block;
        font-size: .9em;
        cursor: pointer;
      }
      span {
        font-size: 0.85em;
        margin-right: 10px;
        transition: .4s color;
        &:hover {
          color: $gold;
        }
      }
       div {
         border:1px solid #eee;
         border-radius: 3px;
          button {
            background: transparent;
            padding: 9px 12px;
            color: #fff;
            transition: .4s color;
            &:hover {
              color: $gold;
            }
          }
          button {
            &:active, &:focus, &:visited {
              outline: none;
              border: none;
            }
          }
          button:nth-of-type(1), button:nth-of-type(3) {
            border:none;
          }
           button:nth-of-type(2){
             border: 1px solid #eee;
             border-top: none;
             border-bottom: none;
           }
       }
   }
   .options::after {
     display: block;
     clear: both;
     content: '';
   }
   .showMonth {
     position: relative;
     display: flex;
     align-items: center;
     margin-bottom: 15px;
     i {
       margin: 0 10px;
       z-index:2;
       font-size: 20px;
       width:30px;
       background: black;
       display: block;
       height:100%;
       border: 1px solid #fff;
       border-top-right-radius: 4px;
       border-bottom-right-radius: 4px;
       display: flex;
       justify-content: center;
       align-items: center;
       cursor: pointer;
       transition: .4s color;
     }
     i:nth-of-type(1) {
       height:100%;
       border-radius: 0;
       border-top-left-radius: 4px;
       border-bottom-left-radius: 4px;
     }
     i:hover {
       color: $gold;
     }
   }
   .day-month {
     color:#ccc;
   }
   .daysInWeek {
     display: none;
     justify-content: flex-start;
     font-size: .9em;
     margin-bottom:15px;
        li {
          width: 14.28%;
          text-align: left;
          color:#ccc;
        }
   }
   .calendar {
     width: 100%;
     display: flex;
     flex-wrap: wrap;
     // border-right:.5px solid #1d1717;
     // border-top:.5px solid #1d1717;
     // padding-top: .5px;
     transition: .4s opacity;
     position: relative;
      .coverDiv {
        width: 14.18%;
        height: 150px;
        margin: 0.05%;
        // background: #1d1717;
        display: flex;
        justify-content: center;
        align-items: center;
          .dayDiv {
            background: #040404;
            width: 100%;
            height: 100%;
            color: rgb(253, 102, 102);
            display: block;
            border:.5px solid #1d1717;
            // border-bottom:.5px solid #1d1717;
            span {
              display: block;
              text-align: right;
              padding: 2px 8px;
              color: #fffdfb;
            }
              p {
                width: 100%;
                display: block;
                background: #fffdfb;
                width: 95%;
                margin: 0 auto;
                font-size: .88em;
                padding: 1px 5px;
                letter-spacing: .5px;
                cursor: pointer;
              }
              p:first-of-type {
                margin-top: 40px;
                cursor: default;
              }
              p:last-of-type {
                font-weight: bold;
                border-bottom:3.5px solid transparent;
                transition: .5s border-bottom;
                  &:hover {
                   border-bottom: 3.5px solid rgb(253, 102, 102);
                  }
              }
          }
      }//coverDiv
   }//calendar - End

    .border-hack {
      height: 150px;
      min-width: auto;
      max-width: 100%;
      border-left:.5px solid #1d1717;
      border-top:.5px solid #1d1717;
    }
    .gif {
      position: absolute;
      top: 50%;
      left: 0;
      transform:translateY(-50%);
      opacity: 0;
      display: none;
      animation-play-state: paused;
      animation: gif 4s 2;  ///animacija je bila na 4s
      z-index: 99;
      width: 100%;
      height: 50px;
      transition: .6s opacity;
      transform:scale(1);
      animation-fill-mode: forwards;
      transform-origin: center;
        img {
          width: 55px;
          height: 100%;
          margin: 0 auto;
          display: block;
        }
    }
    @keyframes gif {
      0% {opacity: 0;}
      30% {opacity: 1;transform:scale(1.3)}
      55% {opacity: .3;transform:scale(1)}
      75% {opacity: 1;transform:scale(1.3)}
      95% {opacity: .7;transform:scale(1)}
      100% {opacity: 0;transform:scale(1)}
    }
    .details-div {
      margin-top: 20px;
      width: 98%;
      margin-left: auto;
      margin-right: auto;
      display: none;
      opacity: 0;
      transition: .5s opacity;
      animation-play-state: paused;
      animation: details .3s 1;
      animation-play-state: paused;
      animation-delay:5s; //animacija delay bila je na 5s
      animation-fill-mode: forwards;
         ul {
           margin-bottom: 15px;
           display: flex;
           align-items: center;
           width: 35%;
           li:nth-of-type(2) {
             margin-left: 30px;
           }
            li {
              font-size: 0.95em;
              margin: 0 9px;
              cursor: pointer;
                i {
                  font-size: 1.05em;
                  color: #ccc;
                }
            }
         }
        h2 {
          font-size:1.7em;
          font-weight: lighter;
        }
        p {
          padding-left: 5px;
        }
        img {
          display: block;
          margin-top: 15px;
          width: 230px;
          height: 330px;
          margin-bottom: 15px;
        }
      #back-btn {
        color: #ccc;
      }
    }// details-div/>

    @media only screen and (max-width: 380px) {
      .details-div {
        margin-top: 0;
        h2 {
          font-size:1.5em;
        }
        img {
          width: 95%;
          display: block;
          margin-left: auto;
          margin-right: auto;
          max-height: auto;
        }
    }
  }
    @keyframes details {
      0% {opacity: 0;}
      100% {opacity: 1;}
    }
    .hs {
      opacity: 0;
      display: none;
    }
}
@media only screen and (max-width: 769px){
  .events {
    .search-div {
    display: none;
  }
  .events-view {
    width: 100%;
    float: none;
    margin: 15px 5px;
  }
   .events-view div button {
    padding: 6px 9px;
    font-size: .8em;
  }
  .showMonth {
    font-size: 0.85em;
     i {
       font-size: 18px;
       width: 25px;
     }
  }
 }
}
@media only screen and (max-width:750px){
  .eventsScrollX {
    overflow-x: scroll;
  }
  .events {
  .daysInWeek {
    width: 800px;
   li {
    width: 170px;
    padding-left: 3px;
  }
}
  .calendar {
    width: 800px;
    padding:1px 0 0;
  }
  .calendar .coverDiv {
    width: 111px;
    margin:1.5px;
  }
   .calendar  .lastParEle {
      // width: 111.9px;
    }
 }
}

.agenda {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  .coverDiv {
    width: 98%;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
     .dayDiv {
       display: flex;
       flex-wrap: wrap-reverse;
       height: 135px;
       margin: 20px 0;
        div:nth-of-type(2){
            margin-left: 20px;
            max-width: 80%;
              p:first-of-type {
                font-size: 1.3em;
                font-weight: bolder;
                color:$gold;
              }
              p:last-of-type {
                font-size: 0.85em;
              }
        }
          img {
            width: 140px;
            height: 100%;
            margin-left:15px;
            border:2px solid black;
            outline:3px solid $gold;
          }
           p:nth-of-type(2) {
             width: 90%;
           }
      }
   }
}// agenda/>

@media only screen and (max-width:550px){
  .agenda {
    .coverDiv {
    .dayDiv {
    }
    img {
      width: 80px;
      height: 80%;
      align-self: center;
    }
   }
  }
}
@media only screen and (max-width:426px){
  .agenda {
    .coverDiv {
    .dayDiv {
      display: block;
      height: auto;
      padding: 10px 0;
    }
      img {
        display: none;
      }
   }
  }
}

.pinboard {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
  .pinColumn {
    width: 18%;
  }
  .coverDiv {
    width: 100%;
    margin:25px 0;
    border:1px solid #eee;
    border-radius: 7px;
    display: flex;
    flex-wrap: wrap;
     img {
       width: 100%;
       border-top-left-radius: 7px;
       border-top-right-radius: 7px;
     }
     p:first-of-type {
       color: $gold;
       font-size: 1.1em;
       padding: 7px 10px 0;
       font-weight: bolder;
     }
     p:last-of-type {
       font-size: .95em;
       padding: 7px 14px;
     }
  }


  .pinColumn:first-of-type .coverDiv:nth-child(1) {
      img {
        height: 260px;
      }
    }
  .coverDiv:nth-child(2n+2) {
        height: 320px;
        img {
          height: 230px;
        }
      }
    .coverDiv:nth-child(3n+0) {
          height: 430px;
          img {
            height: 290px;
          }
      }
  }

  @media only screen and (max-width: 1180px){
    .pinboard {
      .pinColumn {
        width: 18%;
      }
      .coverDiv {
        width: 100%;
        display: block;
         img {
           width: 100%;
         }
         p:first-of-type {
           font-size: .95em;
         }
         p:last-of-type {
           font-size: .8em;
         }
      }

      .pinColumn:first-of-type .coverDiv:nth-child(1) {
          img {
            height: 210px;
          }
        }
        .coverDiv:nth-child(2n+2) {
            img {
              height: 180px;
            }
          }
          .coverDiv:nth-child(3n+0) {
              height: 335px;
              img {
                height: 210px;
              }
          }
        }
      }

      @media only screen and (max-width: 910px){
        .pinboard {
          .pinColumn {
            width: 100%;
            display: flex;
            justify-content: space-around;
          }
          .coverDiv {
            width: 23.5%;
            display: block;
             img {
               width: 100%;
             }
             p:first-of-type {
               font-size: 1.1em;
             }
             p:last-of-type {
               font-size: .9em;
             }
          }

          .pinColumn:first-of-type .coverDiv:nth-child(1) {
              img {
                height: 40%;
              }
            }
            .coverDiv:nth-child(2n+2) {
                img {
                  height: 40%;
                }
              }
              .coverDiv:nth-child(3n+0) {
                  // height: 40%;
                  img {
                    height: 40%;
                  }
              }
            }
          }

          @media only screen and (max-width:750px){
            .pinboard {
              .pinColumn {
                width: 100%;
                display: flex;
                justify-content: space-around;
              }
              .pinColumn:first-of-type .coverDiv:nth-child(1),
               .coverDiv:nth-child(2n+2),
               .coverDiv:nth-child(3n+0),
               .coverDiv {
                height: 310px;
                width: 23.5%;
                display: block;
                 img {
                   width: 100%;
                 }
                 p:first-of-type {
                   font-size: 1em;
                 }
                 p:last-of-type {
                   font-size: .85em;
                 }
              }
          }
        }

      @media only screen and (max-width:542px){
        .pinboard {
          .pinColumn {
            width: 100%;
            display: flex;
            justify-content: space-around;
            flex-wrap: wrap;
          }
          .pinColumn:first-of-type .coverDiv:nth-child(1),
           .coverDiv:nth-child(2n+2),
           .coverDiv:nth-child(3n+0),
           .coverDiv {
            height: 280px !important;
            width: 39.9% !important;
            display: block;
            margin:12px 0;
             img {
               width: 100%;
               height: 170px !important;
             }
             p:first-of-type {
               font-size: .95em;
             }
             p:last-of-type {
               font-size: .8em;
             }
          }
      }
    }

    @media only screen and (max-width:426px){
      .pinboard {
        .pinColumn {
          width: 100%;
          display: flex;
          justify-content: space-around;
          flex-wrap: wrap;
        }
        .pinColumn:first-of-type .coverDiv:nth-child(1),
         .coverDiv:nth-child(2n+2),
         .coverDiv:nth-child(3n+0),
         .coverDiv {
          height: 280px !important;
          width: 48% !important;
          display: block;
          margin:4px 0;
           img {
             width: 100%;
             height: 160px !important;
           }
           p:first-of-type {
             font-size: .95em;
           }
           p:last-of-type {
             font-size: .8em;
           }
        }
    }
  }

//events - End
