body {
  background-image: url("../../images/background_small.png");
  background-size: 300px; }

.slide-show {
  position: relative;
  margin-top: 45px;
  left: 0;
  width: 100%;
  height: 50vh; }
  .slide-show .slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    -webkit-transition: .9s opacity;
    transition: .9s opacity; }
    .slide-show .slide .slideImgPlaceHolder {
      width: 100%;
      height: 100%;
      background-size: 100% 100%;
      background-attachment: fixed;
      background-repeat: no-repeat;
      -webkit-animation-play-state: paused;
      animation-play-state: paused;
      -webkit-transition: 1s -webkit-transform;
      transition: 1s -webkit-transform;
      transition: 1s transform;
      transition: 1s transform, 1s -webkit-transform;
      -webkit-transform: scale(1.01);
      transform: scale(1.01); }

@-webkit-keyframes zoom {
  0% {
    -webkit-transform: scale(1.01);
    transform: scale(1.01); }
  50% {
    -webkit-transform: scale(1.12);
    transform: scale(1.12); }
  100% {
    -webkit-transform: scale(1.01);
    transform: scale(1.01); } }

@keyframes zoom {
  0% {
    -webkit-transform: scale(1.01);
    transform: scale(1.01); }
  50% {
    -webkit-transform: scale(1.12);
    transform: scale(1.12); }
  100% {
    -webkit-transform: scale(1.01);
    transform: scale(1.01); } }
  .slide-show .dot-container {
    position: absolute;
    bottom: 50px;
    left: 50%;
    -webkit-transform: translate(-50%);
    transform: translate(-50%);
    cursor: default;
    z-index: 8; }
    .slide-show .dot-container i {
      cursor: pointer;
      display: inline-block;
      margin: 0 10px; }
      .slide-show .dot-container i:hover {
        opacity: .98; }
  .slide-show .arrow-container {
    position: absolute;
    bottom: 0px;
    left: 50%;
    -webkit-transform: translate(-50%);
    transform: translate(-50%);
    font-size: 40px;
    z-index: 8; }
    .slide-show .arrow-container a {
      color: #fff; }
    .slide-show .arrow-container i {
      color: #fff;
      cursor: pointer; }

@media only screen and (max-width: 921px) {
  .slide-show .slide .slideImgPlaceHolder {
    background-attachment: scroll; }
  .slide-show {
    height: 100vh; } }

@media only screen and (max-width: 630px) {
  .slide-show .slide .slideImgPlaceHolder {
    background-size: 200% 100%;
    background-position: center; } }

@media only screen and (max-width: 426px) {
  .slide-show .slide .slideImgPlaceHolder {
    background-size: 240% 100%;
    background-position: center; } }

@media only screen and (max-width: 416px) {
  .slide-show {
    margin-top: 0; }
  header .header-hack {
    display: none; } }

.events {
  width: 100%;
  height: 100%;
  background: #040404;
  padding: 5px;
  position: relative; }
  .events .search-div {
    float: left; }
    .events .search-div div {
      position: relative;
      margin: 15px 20px;
      height: 31px; }
      .events .search-div div input {
        height: 100%;
        border: 3px solid #fff;
        border-radius: 4px;
        width: 200px;
        padding-left: 8px; }
    .events .search-div div:first-of-type {
      float: left; }
    .events .search-div div:nth-of-type(2) {
      margin: 15px 2px;
      position: relative;
      float: left; }
      .events .search-div div:nth-of-type(2) input[type="date"] {
        height: 100%;
        width: 150px;
        float: left; }
      .events .search-div div:nth-of-type(2)::after {
        display: block;
        content: '';
        clear: left; }
  .events .events-view {
    float: right;
    margin: 15px 20px; }
    .events .events-view * {
      display: inline-block;
      font-size: .9em;
      cursor: pointer; }
    .events .events-view span {
      font-size: 0.85em;
      margin-right: 10px;
      -webkit-transition: .4s color;
      transition: .4s color; }
      .events .events-view span:hover {
        color: #917952; }
    .events .events-view div {
      border: 1px solid #eee;
      border-radius: 3px; }
      .events .events-view div button {
        background: transparent;
        padding: 9px 12px;
        color: #fff;
        -webkit-transition: .4s color;
        transition: .4s color; }
        .events .events-view div button:hover {
          color: #917952; }
      .events .events-view div button:nth-of-type(1), .events .events-view div button:nth-of-type(3) {
        border: none; }
      .events .events-view div button:nth-of-type(2) {
        border: 1px solid #eee;
        border-top: none;
        border-bottom: none; }
  .events .options::after {
    display: block;
    clear: both;
    content: ''; }
  .events .showMonth {
    position: relative;
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    margin-bottom: 15px; }
    .events .showMonth i {
      margin: 0 10px;
      z-index: 2;
      font-size: 20px;
      width: 30px;
      background: black;
      display: block;
      height: 100%;
      border: 1px solid #fff;
      border-top-right-radius: 4px;
      border-bottom-right-radius: 4px;
      display: -webkit-box;
      display: flex;
      -webkit-box-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      align-items: center;
      cursor: pointer;
      -webkit-transition: .4s color;
      transition: .4s color; }
    .events .showMonth i:nth-of-type(1) {
      height: 100%;
      border-radius: 0;
      border-top-left-radius: 4px;
      border-bottom-left-radius: 4px; }
    .events .showMonth i:hover {
      color: #917952; }
  .events .day-month {
    color: #ccc; }
  .events .daysInWeek {
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: start;
    justify-content: flex-start;
    font-size: .9em;
    margin-bottom: 15px; }
    .events .daysInWeek li {
      width: 14.28%;
      text-align: left;
      color: #ccc; }
  .events .calendar {
    width: 100%;
    display: -webkit-box;
    display: flex;
    flex-wrap: wrap;
    -webkit-transition: .4s opacity;
    transition: .4s opacity;
    position: relative; }
    .events .calendar .coverDiv {
      width: 14.18%;
      height: 150px;
      margin: 0.05%;
      display: -webkit-box;
      display: flex;
      -webkit-box-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      align-items: center; }
      .events .calendar .coverDiv .dayDiv {
        background: #040404;
        width: 100%;
        height: 100%;
        color: #fd6666;
        display: block;
        border: .5px solid #1d1717; }
        .events .calendar .coverDiv .dayDiv span {
          display: block;
          text-align: right;
          padding: 2px 8px;
          color: #fffdfb; }
        .events .calendar .coverDiv .dayDiv p {
          width: 100%;
          display: block;
          background: #fffdfb;
          width: 95%;
          margin: 0 auto;
          font-size: .88em;
          padding: 1px 5px;
          letter-spacing: .5px;
          cursor: pointer; }
        .events .calendar .coverDiv .dayDiv p:first-of-type {
          margin-top: 40px;
          cursor: default; }
        .events .calendar .coverDiv .dayDiv p:last-of-type {
          font-weight: bold;
          border-bottom: 3.5px solid transparent;
          -webkit-transition: .5s border-bottom;
          transition: .5s border-bottom; }
          .events .calendar .coverDiv .dayDiv p:last-of-type:hover {
            border-bottom: 3.5px solid #fd6666; }
    .events .calendar .lastParEle {
      width: 14.33%; }
    .events .calendar .lastElement {
      border-right: .5px solid #1d1717; }
  .events .border-hack {
    height: 150px;
    min-width: auto;
    max-width: 100%;
    border-left: .5px solid #1d1717;
    border-top: .5px solid #1d1717; }
  .events .gif {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    opacity: 0;
    display: none;
    -webkit-animation-play-state: paused;
    animation-play-state: paused;
    -webkit-animation: gif 4s 2;
    animation: gif 4s 2;
    z-index: 99;
    width: 60px;
    height: 60px;
    -webkit-transition: .6s opacity;
    transition: .6s opacity;
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-transform-origin: center;
    transform-origin: center; }
    .events .gif img {
      width: 100%;
      height: 100%; }

@-webkit-keyframes gif {
  0% {
    opacity: 0; }
  30% {
    opacity: 1;
    -webkit-transform: scale(1.3);
    transform: scale(1.3); }
  55% {
    opacity: .3;
    -webkit-transform: scale(1);
    transform: scale(1); }
  75% {
    opacity: 1;
    -webkit-transform: scale(1.3);
    transform: scale(1.3); }
  95% {
    opacity: .7;
    -webkit-transform: scale(1);
    transform: scale(1); }
  100% {
    opacity: 0;
    -webkit-transform: scale(1);
    transform: scale(1); } }

@keyframes gif {
  0% {
    opacity: 0; }
  30% {
    opacity: 1;
    -webkit-transform: scale(1.3);
    transform: scale(1.3); }
  55% {
    opacity: .3;
    -webkit-transform: scale(1);
    transform: scale(1); }
  75% {
    opacity: 1;
    -webkit-transform: scale(1.3);
    transform: scale(1.3); }
  95% {
    opacity: .7;
    -webkit-transform: scale(1);
    transform: scale(1); }
  100% {
    opacity: 0;
    -webkit-transform: scale(1);
    transform: scale(1); } }
  .events .details-div {
    margin-top: 20px;
    width: 98%;
    margin-left: auto;
    margin-right: auto;
    display: none;
    opacity: 0;
    -webkit-transition: .5s opacity;
    transition: .5s opacity;
    -webkit-animation-play-state: paused;
    animation-play-state: paused;
    -webkit-animation: details .3s 1;
    animation: details .3s 1;
    animation-play-state: paused;
    -webkit-animation-delay: 5s;
    animation-delay: 5s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards; }
    .events .details-div ul {
      margin-bottom: 15px;
      display: -webkit-box;
      display: flex;
      -webkit-box-align: center;
      align-items: center;
      width: 35%; }
      .events .details-div ul li:nth-of-type(2) {
        margin-left: 30px; }
      .events .details-div ul li {
        font-size: 0.95em;
        margin: 0 9px;
        cursor: pointer; }
        .events .details-div ul li i {
          font-size: 1.2em; }
    .events .details-div h2 {
      font-size: 2.2em;
      font-weight: lighter; }
    .events .details-div p {
      padding-left: 5px; }
    .events .details-div img {
      display: block;
      margin-top: 15px;
      width: 250px;
      height: 370px;
      margin-bottom: 15px; }

@-webkit-keyframes details {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes details {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
  .events .hs {
    opacity: 0;
    display: none; }

@media only screen and (max-width: 769px) {
  .events .search-div {
    display: none; }
  .events .events-view {
    width: 100%;
    float: none;
    margin: 15px 5px; }
  .events .events-view div button {
    padding: 6px 9px;
    font-size: .8em; }
  .events .showMonth {
    font-size: 0.85em; }
    .events .showMonth i {
      font-size: 18px;
      width: 25px; } }

@media only screen and (max-width: 750px) {
  .events {
    overflow-x: scroll; }
    .events .daysInWeek {
      width: 800px; }
      .events .daysInWeek li {
        width: 170px;
        padding-left: 3px; }
    .events .calendar {
      width: 800px;
      padding: 1px 0 0; }
    .events .calendar .coverDiv {
      width: 111px;
      margin: 1.5px; }
    .events .calendar .lastParEle {
      width: 111.9px; } }
