body {
  background-image: url("../../images/background_small.png");
  background-size: 300px; }

.slide-show {
  position: relative;
  margin-top: 45px;
  left: 0;
  width: 100%;
  height: 50vh; }
  .slide-show .slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    -webkit-transition: .9s opacity;
    transition: .9s opacity; }
    .slide-show .slide .slideImgPlaceHolder {
      width: 100%;
      height: 100%;
      background-size: 100% 100%;
      background-attachment: fixed;
      background-repeat: no-repeat;
      -webkit-animation-play-state: paused;
      animation-play-state: paused;
      -webkit-transition: 1s -webkit-transform;
      transition: 1s -webkit-transform;
      transition: 1s transform;
      transition: 1s transform, 1s -webkit-transform;
      -webkit-transform: scale(1.01);
      transform: scale(1.01); }

@-webkit-keyframes zoom {
  0% {
    -webkit-transform: scale(1.01);
    transform: scale(1.01); }
  50% {
    -webkit-transform: scale(1.12);
    transform: scale(1.12); }
  100% {
    -webkit-transform: scale(1.01);
    transform: scale(1.01); } }

@keyframes zoom {
  0% {
    -webkit-transform: scale(1.01);
    transform: scale(1.01); }
  50% {
    -webkit-transform: scale(1.12);
    transform: scale(1.12); }
  100% {
    -webkit-transform: scale(1.01);
    transform: scale(1.01); } }
  .slide-show .dot-container {
    position: absolute;
    bottom: 50px;
    left: 50%;
    -webkit-transform: translate(-50%);
    transform: translate(-50%);
    cursor: default;
    z-index: 8; }
    .slide-show .dot-container i {
      cursor: pointer;
      display: inline-block;
      margin: 0 10px; }
      .slide-show .dot-container i:hover {
        opacity: .98; }
  .slide-show .arrow-container {
    position: absolute;
    bottom: 0px;
    left: 50%;
    -webkit-transform: translate(-50%);
    transform: translate(-50%);
    font-size: 40px;
    z-index: 8; }
    .slide-show .arrow-container a {
      color: #fff; }
    .slide-show .arrow-container i {
      color: #fff;
      cursor: pointer; }

@media only screen and (max-width: 921px) {
  .slide-show .slide .slideImgPlaceHolder {
    background-attachment: scroll; }
  .slide-show {
    height: 100vh; } }

@media only screen and (max-width: 630px) {
  .slide-show .slide .slideImgPlaceHolder {
    background-size: 200% 100%;
    background-position: center; } }

@media only screen and (max-width: 426px) {
  .slide-show .slide .slideImgPlaceHolder {
    background-size: 240% 100%;
    background-position: center; } }

@media only screen and (max-width: 416px) {
  .slide-show {
    margin-top: 0; }
  header .header-hack {
    display: none; } }

.bookEvent {
  text-align: center;
  display: -webkit-box;
  display: flex;
  width: 80%;
  margin: 0 auto;
  margin-top: 20vh;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 2% 0 7%; }
  .bookEvent h3 {
    width: 100%;
    text-transform: uppercase;
    color: #917952;
    font-size: 2em;
    font-weight: lighter;
    margin-bottom: 50px; }
  .bookEvent a {
    display: block;
    margin: 0 auto;
    width: 45%;
    height: 500px; }
    .bookEvent a:hover img {
      -webkit-transform: scale(1.1);
      transform: scale(1.1); }
  .bookEvent section div {
    width: 100%;
    height: 70%;
    overflow: hidden; }
    .bookEvent section div img {
      -webkit-transition: 2s -webkit-transform;
      transition: 2s -webkit-transform;
      transition: 2s transform;
      transition: 2s transform, 2s -webkit-transform;
      width: 100%;
      height: 100%; }
  .bookEvent section h4 {
    color: #908a81;
    text-transform: uppercase;
    font-size: 1.6em;
    margin-top: 20px;
    margin-bottom: 10px; }
  .bookEvent section button {
    background: transparent;
    color: #fff;
    padding: 6px 14px;
    border: 2px solid #917952;
    font-size: 15px;
    text-transform: uppercase;
    -webkit-transition: .5s border;
    transition: .5s border; }
    .bookEvent section button:hover {
      outline: 2px solid #fff;
      border: 2px solid transparent;
      outline-offset: .5px; }
  .bookEvent section .view-more {
    font-size: .9em;
    color: #917952;
    margin-top: 8px;
    text-transform: none; }

@media only screen and (max-width: 1025px) {
  .bookEvent {
    width: 95%; } }

@media only screen and (max-width: 769px) {
  .bookEvent a {
    width: 97%;
    height: auto;
    padding-bottom: 50px; } }
