@import '../variables';

body {
  background-image: url('../../images/background_small.png');
  background-size: 300px;
}
header nav {
  padding-bottom: 15px;
}
//slideshow - Begin
.slide-show {
  position: relative;
  margin-top: 45px;
  left: 0;
  width: 100%;
  height: 50vh;
   .slide {
     position: absolute;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     overflow: hidden;
     transition: .9s opacity;
      .slideImgPlaceHolder {
        width: 100%;
        height: 100%;
        background-size: 100% 100%;
        background-attachment: fixed;
        background-repeat: no-repeat;
        animation-play-state: paused;
        transition: 1s transform;
        transform:scale(1.01);
      }
      @keyframes zoom {
        0% {transform:scale(1.01);}
        50% {transform:scale(1.12);}
        100% {transform:scale(1.01);}
      }
   }

   .dot-container {
     position: absolute;
     bottom: 50px;
     left: 50%;
     transform:translate(-50%);
     cursor: default;
     z-index: -10;
     opacity: 0;
      i {
        cursor: pointer;
        display: inline-block;
        margin: 0 10px;
         &:hover {
           opacity: .98;
         }
      }
   }
   .arrow-container {
     position: absolute;
     bottom: 0px;
     left: 50%;
     transform:translate(-50%);
     font-size: 40px;
     z-index: -10;
     opacity: 0;
     a {
       color: #fff;
     }
     i {
       color: #fff;
       cursor: pointer;
     }
   }
}

@media only screen and (max-width:921px) {
  .slide-show .slide .slideImgPlaceHolder {
    background-attachment: scroll;
  }
  .slide-show {
      height: 100vh;
  }
}
@media only screen and (max-width:630px) {
  .slide-show .slide .slideImgPlaceHolder {
    background-size: 200% 100%;
    background-position: center;
  }
}
@media only screen and (max-width:426px) {
  .slide-show .slide .slideImgPlaceHolder {
    background-size: 240% 100%;
    background-position: center;
  }
}
@media only screen and (max-width:416px) {
  .slide-show {
    // top: 60px;
    margin-top: 0;
  }
  header .header-hack {
    display: none;
  }
}
//slideshow - End
.title {
  margin-top: 180px;
  letter-spacing: 1.9px;
  font-weight: bold;
  color: $gold;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-bottom: 40px;
}
@media only screen and (max-width:430px){
  .title {
    width: 100%;
  }
}

main  {
  margin-bottom: 50px;
  h4 {
    text-align: center;
    font-size: 1em;
  }
  p {
    opacity: .8;
    text-align: center;
    width: 80%;
    font-size: .85em;
    margin: 15px auto;
  }
}
