@import 'variables';

body {
  background-image: url('../images/background_small.png');
  background-size: 300px;
}
//slideshow - Begin
.slide-show {
  position: relative;
  margin-top: 45px;
  left: 0;
  width: 100%;
  height: 50vh;
    h1 {
      display: flex;
      align-items: center;
      justify-content: center;
      background: rgba(0,0,0,.4);
      height: 100%;
      top: 0;
      left: 0;
      position: relative;
      text-transform: uppercase;
      font-weight: lighter;
      width: 100%;
      color: #fff;
      font-size: 3em;
      z-index: 2;
    }
   .slide {
     position: absolute;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     overflow: hidden;
     transition: .9s opacity;
      .slideImgPlaceHolder {
        width: 100%;
        height: 100%;
        background-size: 100% 100%;
        background-attachment: fixed;
        background-repeat: no-repeat;
        animation-play-state: paused;
        transition: 1s transform;
        transform:scale(1.01);
      }
      @keyframes zoom {
        0% {transform:scale(1.01);}
        50% {transform:scale(1.12);}
        100% {transform:scale(1.01);}
      }
   }

   .dot-container {
     position: absolute;
     bottom: 50px;
     left: 50%;
     transform:translate(-50%);
     cursor: default;
     z-index: 8;
      i {
        cursor: pointer;
        display: inline-block;
        margin: 0 10px;
         &:hover {
           opacity: .98;
         }
      }
   }
   .arrow-container {
     position: absolute;
     bottom: 0px;
     left: 50%;
     transform:translate(-50%);
     font-size: 40px;
     z-index: 8;
     a {
       color: #fff;
     }
     i {
       color: #fff;
       cursor: pointer;
     }
   }
}

@media only screen and (max-width:921px) {
  .slide-show .slide .slideImgPlaceHolder {
    background-attachment: scroll;
  }
  .slide-show {
      height: 100vh;
  }
}
@media only screen and (max-width:630px) {
  .slide-show .slide .slideImgPlaceHolder {
    background-size: 200% 100%;
    background-position: center;
  }
}
@media only screen and (max-width:426px) {
  .slide-show .slide .slideImgPlaceHolder {
    background-size: 240% 100%;
    background-position: center;
  }
}
@media only screen and (max-width:416px) {
  .slide-show {
    // top: 60px;
    margin-top: 0;
  }
  header .header-hack {
    display: none;
  }
}
//slideshow - End

//menus - Begin
.menus {
  margin-top: 100px;
  text-transform: uppercase;
  .row {
    display: flex;
    flex-wrap: wrap;
    margin:10px auto;
    width: 100%;
    padding: 0 25%;
    cursor: default;
     div {
       text-align: center;
       cursor: pointer;

     }
     .scottsdale, .la-dinner-menu, .vegan {
       width: auto;
       margin: 0 auto;
       transition: .4s border;
       border:2.5px solid transparent;
       padding: 5px 10px;
       &:hover {
          border:2.5px solid $gold;
       }
     }
     .row-4-4 {
       width: 90%;
       margin:20px auto;
       display: flex;
       flex-wrap: wrap;
       justify-content: space-around;
        div {
          z-index: 2;
          width: auto;
          transition: .4s border;
          border:2.5px solid transparent;
          padding: 5px 10px;
          &:hover {
            border:2.5px solid $gold;
          }
        }
     }
     .la-brunch-cocktails {
       width: auto;
       margin-left: auto;
       margin-right: auto;
       transition: .4s border;
       border:2.5px solid transparent;
       padding: 5px 10px;
         &:hover {
           border:2.5px solid $gold;
         }
     }
  }

  // .row:first-of-type {
  //   div {
  //     width: 30%;
  //     text-align: right;
  //   }
  //   div:nth-of-type(2){
  //     text-align: center;
  //   }
  //   div:nth-of-type(3){
  //     text-align: left;
  //   }
  // }
  // .row:nth-of-type(2) {
  //   div {
  //     width: 25%;
  //     text-align: right;
  //   }
  //   div:nth-of-type(3){
  //     text-align: left;
  //   }
  //   div:nth-of-type(4){
  //     text-align: left;
  //   }
  // }
  // .row:last-of-type {
  // }
  .change {
    width: 100%;
    text-align: center;
    text-transform: none;
    font-size: .85em;
    margin-top: 40px;
  }
}

@media only screen and (max-width:1380px){
.menus  .row {
    padding: 0 10%;
  }
}
@media only screen and (max-width:850px){
.menus  .row {
    padding: 0 1%;
  }
}
@media only screen and (max-width:680px){
  .menus .row {
    justify-content: center;
    .scottsdale, .la-dinner-menu, .vegan {
      margin: 15px 2%;
      width: 46%;
    }
    .row-4-4 {
      width: 100%;
      margin:0px auto;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
       div {
         width: 44%;
         padding: 0 2%;
         margin: 15px;
       }
    }
  }
}
@media only screen and (max-width:530px){
  .menus .row {
    padding: 5px 10px;
    justify-content: center;
    .scottsdale, .la-dinner-menu, .vegan {
      margin: 15px 0;
      width: 80%;
    }
    .row-4-4 {
      padding: 5px 10px;
      width: 80%;
      margin:0 auto;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
       div {
         width: 96%;
         padding-left: 2%;
         padding-right: 2%;
         margin: 15px;
       }
    }
  }
}
.menus .row .activeMenu, .menus .row .row-4-4 .activeMenu {
  border:2.5px solid $gold;
}
//menus -End

//menu-info - Begin
.menu-info {
  margin-top: 50px;
  margin-bottom: 70px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  * {
    text-align: center;
  }
    h1 {
      color: $gold;
      margin: 70px 0 20px;
      font-size: 2em;
      position: relative;
    }
  }
  .content-div {
    opacity: 0;
    animation: 4s show 1;
    animation-fill-mode: forwards;
    transition: 3s opacity;
    width: 50%;
    div {
      width: 100%;
      h1:before {
        width: 26%;
        display: block;
        height: 2.1px;
        background: $pink;
        position: absolute;
        top: -30px;
        left: 50%;
        transform:translateX(-50%);
        content: '';
      }
   }
          h3 {
            color: $platinum;
            margin-top: 20px;
          }
          h4 {
            margin: 30px 0 0;
          }
          p {
            font-size: .9em;
            width: 90%;
            margin:0 auto;
          }
          div:first-of-type{
            h1:before {
              display: none;
            }
      }
}// content-div/>
@keyframes show {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

@media only screen and (max-width:769px){
  .content-div {
    width: 95%;
    margin:0 auto;
  }
}
@media only screen and (max-width:426px){
  .menu-info {
      h1 {
        font-size: 1.7em;
      }
    }
  .content-div {
          p {
            font-size: .8em;
          }
      }
}
//menu-info - End
